.product-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacement entre les éléments */
  padding: 20px;
  background-color: #f4f4f4; /* Arrière-plan léger pour faire ressortir les éléments */
  border-radius: 10px; /* Arrondi des coins de la galerie */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour donner de la profondeur */
}

div.gallery-items{
  margin-bottom: 20px; /* Ajoute une marge basse pour séparer les éléments */
  display: flex;
}

.gallery-item {
  flex: 1 1 calc(20% - 20px); /* Ajuste la largeur pour 5 éléments par ligne */
  text-align: center; /* Centre le texte des légendes */
  background-color: #ffffff; /* Fond blanc pour les éléments de la galerie */
  border-radius: 8px; /* Arrondi des coins */
  overflow: hidden; /* Pour cacher les débordements */
  transition: transform 0.2s, box-shadow 0.2s; /* Effet de transition pour les transformations et l'ombre */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour chaque élément */
}

.gallery-item:hover {
  
  transform: scale(1.05); /* Effet de zoom au survol */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

.gallery-item img {
  max-width: 45%; /* Réduit la taille de l'image pour lui donner un espacement */
  height: auto; /* Maintenir l'aspect ratio */
  border-bottom: 2px solid #007BFF; /* Bordure en bas de l'image pour le style */
}

figcaption {
  margin-top: 10px; /* Espacement entre l'image et la légende */
  font-size: 1.1em; /* Augmente la taille de la légende */
  color: #333; /* Couleur du texte de la légende */
  font-weight: 500; /* Poids du texte pour mettre en avant la légende */
}

/* Responsive Design */
@media (max-width: 768px) {
  .gallery-item {
    flex: 1 1 calc(50% - 10px); /* Ajuste à 2 éléments par ligne sur les écrans plus petits */
  }
}

@media (max-width: 480px) {
  .gallery-item {
    flex: 1 1 100%; /* Ajuste à 1 élément par ligne sur les écrans très petits */
  }
}
